<div class='container text-center'>
  <h1>Success!</h1>
  <%= image_tag 'eating.svg', :class => 'img' %>
  <p>Because of your donation, a hungry programmer has been fed.</p>
  <%= button_to 'Donate again', root_path, :method => :get %>
</div>
